
input, label {
  display:flex;
  /* display:block; */

  flex-direction:column;
  align-items: start;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  float: left;
}

.signup-form button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}


.signup-form {
  /* position: absolute; */
  width: 289px;
  height: 401px;
  background : white;
  z-index: 1000;

  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}


.signup-formlabel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.signup-form label:last-child {
  margin-bottom: 0;
}
.spot-form label > *:last-child {
  margin-left: 10px;
}
.signup-form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 0 10px;
  font-size: 16px;
}
.signup-form input:focus {
  outline: none;
  border-color: black;
}
.signup-form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #FF5A5F;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #FF5A5F
}
.signup-form .errors {
  color: red;
  margin-bottom: 20px;
}
.label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.label-signup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
