.star-container {
  cursor: pointer;
}

.star-container span {
  color: gray;
}

.star-container span:hover,
.star-container span:hover ~ span {
  color: black;
}
#form-review{

display: flex;
justify-content: center;
flex-direction: column;
width: 400px;
height: 300px;
border: solid 4px black;
border-radius: 10px;
}
#form-review textarea {

margin-left: 10px;
margin-right: 10px;
background-color: rgb(207, 219, 252);
}
.star-container{
text-align: center;
}

#submit-review-btn{
background-color:  #FF5A5F;
border: black solid 1px;
box-shadow: 3px 3px 2px black;
margin-bottom: 20px;
height: 30px;
color: white;
margin-right: 10px;
margin-left: 10px;
}
#submit-review-btn:disabled{
background-color: gray;
border: black solid 1px;
box-shadow: none;
}
.errors {
  color: red;

}
