<div className="spot-images-containers">

  <div class="left-spot-image-description-container">
    <div class="left-spot-image-container">
      <img src={spot.SpotImages[0]?.url} alt={spot.name} />
      <div >{${spot.decscr}}</div>
    </div>
  </div>

  <div class="right-spot-image-container">
    {spot.SpotImages?.slice(1).map((image, index) => {
      return (
        <div className="right-image-item" key={index}>
          <img className="respond" src={image.url} alt={`Image ${index + 1}`} />
        </div>
      )
    })}
  </div>
</div>
