button:hover {
  color: #800080;
  border-color: #800080;
  background-color: white;
}
.profile-dropdown.hidden {
  display: none;
  list-style-type: none;
}
.profile-dropdown {
  display: block;
  list-style-type: none;
  position: absolute;
  top: 35px; /* Adjust the distance from the button as needed */
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  /* padding: 8px 0; */
}
.profile-dropdown li:last-child {
  border-bottom: none;
}

.navBar-container {

  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

.navBar-inner-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */

  /* padding: 0 20px; */
}

.navBar-logo-create-link {
  display: flex;
  /* align-items: center; */
  text-align: left;
}

.navbar-logo {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.navbar-logo img {
  /* width: 40px;
  height: 40px;
  margin-right: 10px; */
  height: 2rem;
  display: flex;
  justify-content: flex-start;
}

.create-new-spot {
  text-decoration: none;
  color: #008489;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}

.create-new-spot:hover {
  color: #005e63;
}

.profile-button-container {
  display: flex;
  align-items: center;
}

.profile-button {
  margin-left: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #008489;
  transition: background-color 0.2s ease-in-out;
}

.profile-button:hover {
  background-color: #f5f5f5;
}
.navBar-far-right {
  text-align: right;
  list-style-type: none;
  display: inline-block;
}
